/test.img
/original/test.img
/extract/**
!/extract/.gitkeep
/logs/**
!/logs/.gitkeep
/output/**
!/output/.gitkeep
/work/**
!/work/.gitkeep
/images/**
!/images/.gitkeep
/mnt_p2/*
!/mnt_p2/.gitkeep
/buildroot/buildroot/
/dl/

# Python bytecode
__pycache__/
*.pyc
